@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Muli', sans-serif;
	width: 100%;
	/* padding-top: 90em; */
}

body,
html {
	height: auto !important;
}
